#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
#include <zephyr/dt-bindings/pinctrl/esp32s3-pinctrl.h>

/ {
    aliases
	{
        display-ctrl = &st7735;
    };

    leds
	{
        compatible = "gpio-leds";
        display_bl: display_bl_node
		{
            gpios = <&gpio1 (38 - 32) GPIO_ACTIVE_LOW>;
        };
    };

    mipi_dbi
	{
        compatible = "zephyr,mipi-dbi-spi";
        reset-gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
        dc-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		spi-dev = <&spi2>;
        #address-cells = <1>;
        #size-cells = <0>;

        st7735: st7735@0
		{
            compatible = "sitronix,st7735r";
            reg = <0>;
			mipi-max-frequency = <32000000>;
			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";

            height = <80>;
            width = <160>;
            x-offset = <1>;
			y-offset = <26>;

            madctl = < 0x60 >; //set to RGB but display shows RBG so software swap is needed
            colmod = < 0x05 >;
            // rgb-is-inverted;
            inversion-on;
            vmctr1 = < 0xe >;
            pwctr1 = [ A2 02 84 ];
            pwctr2 = [ C5 ];
            pwctr3 = [ 0A 00 ];
            pwctr4 = [ 8A 2A ];
            pwctr5 = [ 8A EE ];
            frmctr1 = [ 01 2C 2D ];
            frmctr2 = [ 01 2C 2D ];
            frmctr3 = [ 01 2C 2D 01 2C 2D ];
            gamctrp1 = [ 02 1C 07 12 37 32 29 2D 29 25 2B 39 00 01 03 10 ];
            gamctrn1 = [ 03 1D 07 06 2E 2C 29 2D 2E 2E 37 3F 00 00 02 10 ];
        };
    };
};

/delete-node/ &slot0_appcpu_partition;
/delete-node/ &slot1_partition;
/delete-node/ &slot1_appcpu_partition;
/delete-node/ &slot0_lpcore_partition;
/delete-node/ &slot1_lpcore_partition;
/delete-node/ &storage_partition;
/delete-node/ &scratch_partition;
/delete-node/ &coredump_partition;

&flash0
{
    reg = <0x0 DT_SIZE_M(16)>; // Address, size (16MB)

    partitions {
        slot0_partition: partition@20000
		{
            label = "image-0";
            reg = <0x20000 DT_SIZE_K(512)>;
            read-only;
        };
        game_settings_partition: partition@a0000
		{
            label = "game-settings-partition";
            reg = <0xa0000 0x1000>;
        };
        game_saves_partition: partition@a1000
		{
            label = "game-saves-partition";
            reg = <0xa1000 0x1000>;
        };
        cache_partition: partition@a2000
		{
            label = "cache-partition";
            reg = <0xa2000 (0x22b000 - 0xa2000)>;
        };
        wad_partition: partition@22b000
		{
            label = "wad-partition";
            reg = <0x22b000 (DT_SIZE_M(16) - 0x22b000)>;
            read-only;
        };
    };
};

&uart0
{
    status = "okay";
    current-speed = <115200>;
};

&pinctrl
{
	spim2_default: spim2_default 
	{
		group1 
		{
			pinmux = <SPIM2_MISO_GPIO37>, //miso is not used so put it on some not used pin
			         <SPIM2_SCLK_GPIO5>,
			         <SPIM2_CSEL_GPIO4>;
		};
		group2 
		{
			pinmux = <SPIM2_MOSI_GPIO3>;
			output-low;
		};
	};
};

&spi2 {
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
	dma-enabled;
};

&usb_serial
{
	status = "okay";
};