#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
#include <zephyr/dt-bindings/pinctrl/esp32-pinctrl.h>

/{
	aliases 
	{
		// display-ctrl = &st7789;
		display-ctrl = &sdl_dc;
	};

	leds
	{
		compatible = "gpio-leds";
		display_bl: display_bl_node 
		{
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
		};
	};

	//dummy ram
	sram0: memory@3ffb0000 {
		compatible = "mmio-sram";
		reg = < 0x3ffb0000 0x3e800 >;
	};
};

/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;
/delete-node/ &scratch_partition;
&flash0
{
	// reg = <0x0 DT_SIZE_M(16)>; //address, size(16MB)
	reg = <0x10000000 DT_SIZE_M(64)>; //address, size(16MB)
	partitions
	{
		slot0_partition: partition@0
		{
			label = "image-0";
			reg = < 0x0 DT_SIZE_K(512) >;
			read-only;
		};
		game_settings_partition: partition@81000
		{
			label = "game-settings-partition";
			reg = < 0x81000 0x1000 >;
		};
		game_saves_partition: partition@82000
		{
			label = "game-saves-partition";
			reg = < 0x82000 0x1000 >;
		};
		cache_partition: partition@83000
		{
			label = "cache-partition";
			reg = < 0x83000 (0x22b000 - 0x83000) >;
		};
		wad_partition: partition@22b000
		{
			label = "wad-partition";
			reg = < 0x22b000 (DT_SIZE_M(16) - 0x22b000) >;
			read-only;
		};
	};
};

&sdl_dc
{
	// status = "disabled";
	height = < 135 >;
	width = < 240 >;
};
